button {
    margin: 5px 5px;
}

input {
    margin: 5px 5px;
}

#showLogo {
    max-height: 149px;
    max-width: 267px;
}

body {
    background: #3680f7;
}

/* We use this class to hide then reveal the "Add more gifs" button. */
.hidden {
    display: none;
}

h1, h2, .whiteText {
    color: whitesmoke;
}